* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 10% 65% 20%;
  grid-template-areas:
    "header header"
    "main aside"
    "footer footer";
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}

.header {
  grid-area: header;
  background-color: rgb(226, 223, 223);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3vh;
}

main {
  grid-area: main;
  background-color: rgb(245, 245, 220);
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.global_content {
  flex-basis: 100%;
  background-color: beige;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.box_one {
  flex-basis: 40%;
  display: flex;
  justify-content: center;
}

.wrapper_box {
  flex-basis: 25%;
  margin-bottom: 5%;
  display: flex;
  justify-content: space-between;
}

.box_two {
  flex-basis: 48%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(248, 232, 189);
}

.box_three {
  flex-basis: 48%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(248, 232, 189);
}

.box_four {
  flex-basis: 25%;
  background-color: rgb(248, 232, 189);
  display: flex;
  align-items: center;
  justify-content: center;
}

.aside {
  grid-area: aside;
  background-color: rgb(170, 216, 170);
  justify-content: center;
  display: flex;
  padding: 10%;
}

.footer {
  grid-area: footer;
  background-color: rgb(226, 223, 223);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.footer_box {
  background-color: rgb(245, 244, 244);
  margin: 10% 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
